:root {
  --sage: #A4B494;
  --forest-green: #1E3F20;
  --bunny-green: #345830;
  --burnt-umber: #772E25;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--sage);
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--bunny-green);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navigation {
  background-color: var(--sage);
  display: flex;
  flex-direction: row;
  justify-content: left;

  position: absolute;
  top: 0;
  width: 100%;

  .NavElement {
    display: inline-block;
    margin: 0.5rem 0 0 1rem;
    color: var(--burnt-umber);
    text-decoration: underline;
  }
}

.Badges {
  background-color: var(--sage);
  display: flex;
  flex-direction: row;
  justify-content: left;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4vh;

  .Badge {
    margin: 0 0 0 0.5rem;
    height: 1.5rem;
  }
}